.cart__item {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background: white;
  margin-bottom: 10px;
}
.cartItem__image__wrapper {
  text-align: center;
  flex-grow: 1;
}
.cartItem__image {
  max-height: 120px;
  height: auto;
  object-fit: contain;
  max-width: 100px;
  transition: transform 1s ease;
}
.cartItem__image:hover {
  transform: scale(1.1);
}
.cartItem__info__wrapper {
  margin: 0 30px;
  max-width: 600px;
  flex-grow: 3;
}
.cartItem__title {
  color: #007185;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartItem__title:hover {
  text-decoration: underline;
}
.cartItem__seller {
  font-size: 14px;
  margin: 2px 0;
  color: #1f1f1f;
}
.cartItem__sellernameChip {
  background: #f5a844 !important;
  color: white !important;
}
.cartItem__price__wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  justify-content: space-between;
}
.cartItem__price {
  font-size: 15px;
  font-weight: 700;
  margin: 10px 5px;
}
.cartItem__removeButton {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  padding: 8px 25px;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.cartItem__removeButton:hover {
  transform: scale(0.9);
  background: linear-gradient(to bottom, #f7b76a, #ff8c00);
}
